{% extends 'layout.html.twig' %}

{% block title %}Editer le Commentaire-{% endblock %}

{% block admin %}
    <h1>Editer un Commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
