{% extends 'layout.html.twig' %}

{% block title %}New Image{% endblock %}

{% block admin %}
    <h1>Create new Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('app_image_index') }}" class="btn btn-success">back to list</a>
{% endblock %}
