{% extends 'layout.html.twig' %}
{% block title%} Administration{% endblock %}
{% block admin %}
    <div  class="mb-5">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="main-box infographic-box colored emerald-bg">
                    <i class="fa fa-snowboarding"></i>
                    <span class="headline">Tricks</span>
                    <span class="value">{{ tricksCount['value'] }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="main-box infographic-box colored green-bg">
                    <i class="fa fa-tag"></i>
                    <span class="headline">Categorys</span>
                    <span class="value">{{ categoriesCount['value'] }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="main-box infographic-box colored red-bg">
                    <i class="fa fa-user"></i>
                    <span class="headline">Users</span>
                    <span class="value">{{ usersCount['value'] }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="main-box infographic-box colored purple-bg">
                    <i class="fa fa-globe"></i>
                    <span class="headline">Comments</span>
                    <span class="value">{{ commentsCount['value'] }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
