{% extends 'layout.html.twig' %}

{% block title %}Ajouter une Video{% endblock %}

{% block admin %}
    <h1>Créer une Video</h1>

    {{ include('video/_form.html.twig') }}

    <a  class="btn btn-primary" href="{{ path('app_video_index') }}"><i class="fa fa-arrow-left"> </i> Retour</a>
{% endblock %}
