<!-- Header -->
    <header class="masthead"  style="height: 50vh;background: url({{asset('images/bannierre.jpg')}});background-repeat: no-repeat;background-size: cover; height:1000px;">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                <h2 class="text-black-50 mx-auto mt-2 mb-5">Partagez votre passion du snowboard</h2>
            </div>
            <a href="#tricks" class="js-scroll-trigger">
                <i class="fa fa-arrow-down fa-2x"></i>
            </a>
        </div>
    </header>
    